@import '../../node_modules/font-awesome/css/font-awesome.min.css';

.fa {
  margin-right: 0.4em;
}

strong {
  color: white;
}

iframe {
  border: none;
}

pre[class*='language-'] {
  margin-bottom: 2em !important;
}
